<section class="sign-up-section hidden">
    <form action="" class="sign-up-form">
      <fieldset>
        <legend>
          SIGN UP
        </legend>

        <label>
          Username:

          <input type="text" id="username" name="username">
        </label>
        
        <label>
          Password:

          <input type="password" name="password">
        </label>
         
        <button type="submit">
          SIGN UP
        </button>


          <button type="submit">
          Return Home
        </button>
      </fieldset>
    </form>
  </section>




